.viewer.active .altimeter {
	opacity: 1;
}

.viewer {
	overflow: hidden;

	#stars {
		opacity: .5;
	}

	#earth {
		transform: translateX(50vw);
		transition: filter 1s ease-out, transform .5s ease-in-out;

		@media #{$mobile} {
			display: none;
		}

		&.zoom {
			transform: scale(2);
		}
	}

	.altimeter {
		width: 20px;
		position: absolute;
		left: 0;
		top: 15vh;
		z-index: 100000;
		will-change: opacity;
		opacity: 0;
		transition: opacity .5s ease-in-out;

		.mark {
			margin: .5vh 0;
			background: var(--lightGrey);

			&.big {
				width: 20px;
				height: 2px;
			}

			&.small {
				width: 10px;
				height: 1px;
				background: var(--yellow);
			}
		}

		.value {
			font-family: 'Avenir Next';
			font-size: 16px;
			color: var(--lightGrey);
			position: absolute;
			bottom: -5px;
			left: 25px;
			will-change: transform;
			transition: transform 1s ease-in-out;
		}
	}

	.cesium-credit-textContainer {
		display: none;
	}

	.earth {

		&.transition {
			transition: all 1s ease-in-out;
		}
	}

	.steps {
		perspective: 600px;

		li {
			position: relative;
			padding-top: 20px;
			color: white;
			font-size: 12px;
			overflow: hidden;

			h2 {
				position: absolute;
				right: 5vw;
				top: 30px;
				margin: 10px 0;
				font-family: 'Avenir Next';
				font-size: 48px;
				font-weight: 700;
				text-align: center;

				@media #{$mobile} {
					top: 5px;
				}

				span {
					font-size: 18px;
					font-weight: 100;
					margin-right: 10px;
				}
			}

			h3 {
				margin: 100px 0 0 5vw;
				padding-left: 20px;
				font-family: 'Avenir Next';
				font-size: 36px;
				font-weight: 700;
				color: var(--yellow);

				@media #{$mobile} {
					margin-top: 60px;
				}
			}

			.image {
				position: absolute;
				width: 400px;
				perspective: 600px;
				transform-style: preserve-3d;

				@media #{$mobile} {
					position: static;
					width: 90vw;
					margin: 20px 5vw;
				}

				.arrow-1 {
					--width: 25vw;
					position: absolute;
					width: var(--width);
					height: 2px;
					background: var(--lightGrey);
					right: calc(var(--width) * -1 + 2px);
					top: 50%;

					@media #{$mobile} {
						display: none;
					}

					&::after {
						--size: 30px;
						content: '';
						position: absolute;
						top: calc(var(--size) * -.5 + 1px);
						right: calc(var(--size) * -1);
						width: var(--size);
						height: var(--size);
						border: solid 2px var(--lightGrey);
						border-radius: 50%;
					}
				}

				img {
					width: 100%;
					transform: rotateX(20deg);
					border: solid 2px var(--lightGrey);

					@media #{$mobile} {
						transform: none;
					}
				}

				&.launch {
					top: 15vh;
					left: calc(50vw - 200px);
				}
			}

			p {
				width: 20vw;
				margin: 30px 0 0 5vw;
				font-family: 'Avenir Next';
				font-weight: 100;
				color: white;
				font-size: 16px;
				line-height: 22px;

				@media #{$mobile} {
					width: 90vw;
				}

				.bold {
					font-weight: 700;
				}

				.yellow {
					color: var(--yellow);
				}
			}
		}
	}

	.rocket {
		position: absolute;
		bottom: 200px;
		left: calc(50vw - 20px);
		height: 350px;
		transform-style: preserve-3d;
		transition: all 2s ease-in-out; 

		@media #{$mobile} {
			display: none;
		}

		img {
			height: 100%;

			&.trunk {
				height: 55%;
				position: absolute;
				top: -145px;
				left: -5px;
				z-index: -1;
				will-change: all;
				transition: all 3s ease-in;

				&.separated {
					transform: translateY(-200vh);
					opacity: 0;
				}
			}
		}

		canvas {
			position: absolute;
			left: -30px;
			bottom: -100px;
		}

		.fire {
			position: absolute;
			bottom: -200px;
			will-change: transform;
			transform-origin: top;
			transform: scale(0);
			transition: transform 1s ease-in;
		}

		&.step-0 {
			transform: rotate(0deg) translateY(200vh);
		}

		&.step-1 {
			transform: rotate(10deg);

			.fire {
				transform: scale(1);
			}
		}

		&.step-2 {
			transform: rotate(20deg);
		}

		&.step-3 {
			transform: rotate(25deg);
		}

		&.step-4 {
			transform: rotate(290deg);
		}

		&.step-5 {
			transform: rotate(320deg);

			.fire {
				transform: scale(1);
			}
		}

		&.step-6 {
			transform: rotate(330deg);
		}

		&.step-7 {
			transform: rotate(340deg);

			.fire {
				transform: scale(1);
			}
		}

		&.step-8 {
			transform: rotate(350deg);

			.fire {
				transform: scale(1);
			}
		}

		&.step-9 {
			transform: rotate(360deg) translateY(200vh);

			.fire {
				transform: scale(1);
			}
		}
	}
}