<div class="viewer">
	<div class="logo">
		<img src="assets/images/src/logo-white.png" alt="Logo Space X">
	</div>
	<canvas class="full" id="stars"></canvas>
	<div class="full earth" id="earth"></div>
	<div class="steps">
		<ul>
			<li data-name="Launch">
				<h2>Step 1</h2>
				<h3>Launch</h3>
				<div class="image launch">
					<img src="assets/images/src/launch.png" alt="Launch">
					<div class="arrow-1"></div>
					<div class="arrow-2"></div>
				</div>
			</li>
			<li data-name="Max-Q">
				<h2>Step 2</h2>
				<h3>Max-Q</h3>
			</li>
			<li data-name="MECO">
				<h2>Step 3</h2>
				<h3>MECO</h3>
			</li>
			<li data-name="Separation">
				<h2>Step 4</h2>
				<h3>Separation</h3>
			</li>
			<li data-name="Flip">
				<h2>Step 5</h2>
				<h3>Flip Maneuver</h3>
			</li>
			<li data-name="Boostback burn">
				<h2>Step 6</h2>
				<h3>Boostback burn</h3>
			</li>
			<li data-name="Grid fins">
				<h2>Step 7</h2>
				<h3>Grid fins</h3>
			</li>
			<li data-name="Final burn">
				<h2>Step 8</h2>
				<h3>Final Burn</h3>
			</li>
			<li data-name="Landing">
				<h2>Step 9</h2>
				<h3>Landing</h3>
			</li>
		</ul>
	</div>
</div>	