<div class="viewer">
	<canvas class="full" id="stars"></canvas>
	<div class="full earth" id="earth"></div>
	<!-- <canvas class="full" id="mainRocket"></canvas> -->
	<div class="altimeter">
		@@for (let i = 0; i < 21; i++) {
			<div class="mark big"></div>
			<div class="mark small"></div>
			<div class="mark small"></div>
			<div class="mark small"></div>
			<div class="mark small"></div>
		}
		<div class="mark big"></div>
		<div class="value">0</div>
	</div>
	<div class="steps">
		<div class="rocket step-0">
			<img src="assets/images/src/rocket.png" alt="Falcon 9">
			<canvas class="fire" height="200" width="100"></canvas>
		</div>
		<ul>
			<li data-name="Launch">
				<h2>01</h2>
				<h3>Launch</h3>
				<div class="image launch">
					<img src="assets/images/src/launch.png" alt="Launch">
					<div class="arrow-1"></div>
					<div class="arrow-2"></div>
				</div>
				<p>The Launching is the first step, some automated health check are done and when everything works, the bindings are released and the legs tilt back to deviate from the trajectory of the engines while the launcher rises slowly, with a payload that can reach 5500kg.</p>
				<p>Space X owns 4 different launch sites, Cap Canaveral, Vandenberg, Boca Chicas and the Kennedy spatial center.</p>
				<p>From t+0,00 to t+1,14 </p>
				<p><span class="bold yellow">Speed:</span> 0 to 1500 km/h</p>
				<p><span class="bold yellow">Altitude:</span> 0 to 14 km</p>
			</li>
			<li data-name="Max-Q">
				<h2>02</h2>
				<h3>Max-Q</h3>
				<p>The Maximum aerodynamic pressure is reached and aerodynamic stresses are lifted.</p>
				<p>Max-Q is the point where the largest amount of aerodynamic stress is exerted on the vehicle, which is just a way of saying the rocket is feeling a lot of physical pressure from shoving its way through all the air in the atmosphere at a really high speed. In fact, it’s going through the most physical stress it will feel during the entire launch.</p>
				<p>From t+1,14 to t+2,25</p>
				<p><span class="bold yellow">Speed:</span> 1500 to 6000 km/h</p>
				<p><span class="bold yellow">Altitude:</span> 14 to 70 km</p>
			</li>
			<li data-name="MECO">
				<h2>03</h2>
				<h3>Main Engine Cut-Off</h3>
				<p>At this point we cut the engines of the first stage in order to limit the acceleration because the thrust of the engines of this stage is not adjustable.</p>
				<p>The engine of our Falcon 9 is the powerful Merlin 1D that benefits a ground thrust of 654kN and a scalable boost from 70 to 100.</p>
				<p>The engines lights up again just after the separation which is our next step.</p>
				<p><span class="bold yellow">Speed:</span> 6000 km/h</p>
				<p><span class="bold yellow">Altitude:</span> 70 to 80 km</p>
			</li>
			<li data-name="Separation">
				<h2>04</h2>
				<h3>Separation</h3>
				<p>Here happen the Separation of the first stage with the second stage at relatively low speed, so its reentry starts off drastically slower than a reentry from orbit, we are using pneumatic pushers instead of being assisted with rockets, while the second stage follow his own trajectory.</p>
				<p>For now, only the first stage is reusable but the first stage is the most important.</p>
				<p><span class="bold yellow">Speed:</span> 6100 km/h</p>
				<p><span class="bold yellow">Altitude:</span> 80 km</p>
			</li>
			<li data-name="Flip">
				<h2>05</h2>
				<h3>Flip Maneuver</h3>
				<p>The rocket exercice a Flip maneuver which is one of our most important specificity, this trajectory is used for the stage to return to the launch site, using cold gas thrusters to make the rocket turns 180 degrees to get down to the right position and face bottom the earth to land in good conditions.</p>
				<p>from t+2,40 to t+2,50</p>
				<p><span class="bold yellow">Speed:</span> 6100 km/h</p>
				<p><span class="bold yellow">Altitude:</span> 80 km</p>
			</li>
			<li data-name="Boostback burn">
				<h2>06</h2>
				<h3>Boostback burn</h3>
				<p>Boostback burn is used to slow down the thrust of the engines, three of the nine engine boosters light up to begin guiding the stage to the ground.The rocket has its own guidance- control system, which gimbals (orients) the Merlin 1D engines to rotate the rocket between 120 and 180 degrees. This aims the rocket toward the drone ship.</p>
				<p>at t+3.55</p>
				<p><span class="bold yellow">Speed:</span> 5800 km/h</p>
				<p><span class="bold yellow">Altitude:</span> 204 km</p>
			</li>
			<li data-name="Grid fins">
				<h2>07</h2>
				<h3>Grid fins</h3>
				<p>Grid fins that are heat resistant unfold to direct, stabilize and slow down the stage, our atmosphere is like molasses to an object traveling at Mach 4, and the grid fins are essential for landing with precision, it work like a brake.</p>
				<p>at t+5,45</p>
				<p><span class="bold yellow">Speed:</span> 2000 km/h</p>
				<p><span class="bold yellow">Altitude:</span> 127 km</p>
			</li>
			<li data-name="Entry burn">
				<h2>08</h2>
				<h3>Entry Burn</h3>
				<p>Then we arrive to the Entry burn, the supersonic retropulsion burn begins with the center engine turning on, as the booster starts to enter the Earth’s atmosphere once again to slow down the stage.</p>
				<p>at t+6,43</p>
				<p><span class="bold yellow">Speed:</span> 1600 km/h</p>
				<p><span class="bold yellow">Altitude:</span> 53 km</p>
			</li>
			<li data-name="Final burn">
				<h2>09</h2>
				<h3>Final Burn</h3>
				<p>Before landing happen the last step is the Final burn which is the last combustion of the engine, only one of its engines light up and its thrust is strongly modulated so it can pose vertically and with extreme precision, we’ve only got one shot!</p>
				<p>at t+7,45</p>
				<p><span class="bold yellow">Speed:</span> 1000 km/h</p>
				<p><span class="bold yellow">Altitude:</span> 4 km</p>
			</li>
			<li data-name="Landing">
				<h2>10</h2>
				<h3>Landing</h3>
				<div class="image launch">
					<img src="assets/images/src/land.gif" alt="Launch">
					<div class="arrow-1"></div>
					<div class="arrow-2"></div>
				</div>
				<p>The landing gear made with light carbon fiber is deployed .Four legs made of carbon fiber and aluminum unfold to allow the rocket some stability upon touchdown, augmented by the ejection of compressed helium.</p>
				<p>at t+8,16</p>
				<p><span class="bold yellow">Speed:</span> 0 km/h</p>
				<p><span class="bold yellow">Altitude:</span> 0 km</p>
			</li>
		</ul>
	</div>
</div>	